<ng-template #loading>
  <div class="progress-bar">
    <div class="progress-bar-value"></div>
  </div>
</ng-template>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          #searchInput
          type="text"
          class="form-control"
          placeholder="Search for recipes..."
          (input)="searchRecipes(searchInput.value)"
          [value]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchRecipes(searchInput.value)"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="recipes && recipes.length > 0; else noRecipes">
    <div class="col-md-4" *ngFor="let recipe of recipes">
      <app-recipe-card [recipe]="recipe" class="mb-4" />
    </div>
  </div>

  <ng-template #noRecipes>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">No recipes found.</p>
      </div>
    </div>
  </ng-template>
</div>
