<ng-template #loading>
  <div class="progress-bar">
    <div class="progress-bar-value"></div>
  </div>
</ng-template>

<div class="container mt-4">
  <div class="mb-4">
    <h1 class="text-center">Welcome to Your Recipe Adventure!</h1>
    <p class="text-center">
      Discover delicious recipes crafted for every craving and occasion. Dive in
      and find something wonderful to cook today!
    </p>
  </div>

  <div class="row">
    <!-- Side column for filtering -->
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <form [formGroup]="searchFormGroup" (ngSubmit)="onSubmitSearchForm()">
            <div class="mb-3">
              <label for="searchInput" class="form-label">Search</label>
              <div class="input-group">
                <input
                  #searchInput
                  type="text"
                  class="form-control"
                  placeholder="Search for recipes..."
                  (keydown.enter)="onSubmitSearchForm()"
                  formControlName="search"
                  id="searchInput"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="sort" class="form-label">Sort By</label>
              <select id="sort" class="form-select" formControlName="sort">
                <option value="title,asc">Title: A-Z</option>
                <option value="title,desc">Title: Z-A</option>
                <option value="cookingTime,asc">
                  Cooking Time: Low to High
                </option>
                <option value="cookingTime,desc">
                  Cooking Time: High to Low
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cookingTime" class="form-label">Cooking Time</label>
              <div class="row g-2">
                <div class="col">
                  <input
                    type="number"
                    id="minCookingTime"
                    class="form-control"
                    placeholder="Min"
                    formControlName="minCookingTime"
                  />
                </div>
                <div class="col">
                  <input
                    type="number"
                    id="maxCookingTime"
                    class="form-control"
                    placeholder="Max"
                    formControlName="maxCookingTime"
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="servingSize" class="form-label">Serving Size</label>
              <div class="row g-2">
                <div class="col">
                  <input
                    type="number"
                    id="minServingSize"
                    class="form-control"
                    placeholder="Min"
                    formControlName="minServingSize"
                  />
                </div>
                <div class="col">
                  <input
                    type="number"
                    id="maxServingSize"
                    class="form-control"
                    placeholder="Max"
                    formControlName="maxServingSize"
                  />
                </div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <button
                class="btn btn-primary"
                type="button"
                (click)="onSubmitSearchForm()"
              >
                Search
              </button>
              <button
                class="btn btn-outline-danger"
                type="button"
                (click)="onClearFilters()"
              >
                Clear Filters
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Main content area for recipes -->
    <div
      class="col-md-8 d-flex flex-column align-items-center justify-content-between"
    >
      <ng-container *ngIf="isLoadingRecipes; else recipesList">
        <ng-container *ngTemplateOutlet="loading" />
      </ng-container>
      <ng-template #recipesList>
        <div
          *ngIf="recipes && recipes.length > 0; else noRecipes"
          class="w-100"
        >
          <div class="row w-100">
            <div
              class="col-lg-6 col-md-6 col-sm-12 mb-4"
              *ngFor="let recipe of recipes; let i = index"
            >
              <app-recipe-card [recipe]="recipe"></app-recipe-card>
            </div>
          </div>
        </div>
        <nav aria-label="Recipe pagination" class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link"
                (click)="changePage(currentPage - 1)"
                href="javascript:void(0)"
                aria-label="Previous"
              >
                Previous
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="let page of paginationArray; let i = index"
              [class.active]="currentPage === page"
            >
              <a
                class="page-link"
                (click)="changePage(page)"
                href="javascript:void(0)"
              >
                {{ page }}
              </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a
                class="page-link"
                (click)="changePage(currentPage + 1)"
                href="javascript:void(0)"
                aria-label="Next"
              >
                Next
              </a>
            </li>
          </ul>
        </nav>
      </ng-template>

      <ng-template #noRecipes>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">No recipes found.</p>
          </div>
        </div>
        <!-- <nav aria-label="Recipe pagination" class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a
                class="page-link"
                href="javascript:void(0)"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->
      </ng-template>
    </div>
  </div>
</div>
