<div class="row justify-content-center my-4">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-secondary text-white text-center">
      <h4 class="card-title mb-0">Change My Password</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="changeMyPassword()">
        <!-- Current Password Input -->
        <div class="form-group mb-3">
          <label for="currentPassword" class="form-label">
            Current Password <span style="color: red">*</span>
          </label>
          <input
            type="password"
            id="currentPassword"
            class="form-control"
            formControlName="currentPassword"
            placeholder="Enter your current password"
          />
        </div>
        <!-- New Password Input -->
        <div class="form-group mb-3">
          <label for="newPassword" class="form-label">
            New Password <span style="color: red">*</span>
          </label>
          <input
            type="password"
            id="newPassword"
            class="form-control"
            formControlName="newPassword"
            placeholder="Enter your new password"
          />
        </div>
        <!-- Confirm New Password Input -->
        <div class="form-group mb-3">
          <label for="confirmNewPassword" class="form-label">
            Confirm New Password <span style="color: red">*</span>
          </label>
          <input
            type="password"
            id="confirmNewPassword"
            class="form-control"
            formControlName="confirmNewPassword"
            placeholder="Confirm your new password"
          />
        </div>
        <!-- Change Password Button -->
        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="isSubmitting || formGroup.invalid"
          >
            <fa-icon [icon]="solidIcons.faKey" class="me-2"></fa-icon>
            {{ isSubmitting ? "Changing Password..." : "Change Password" }}
            <span
              *ngIf="isSubmitting"
              class="spinner-border spinner-border-sm ms-2"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
