<div class="row justify-content-center my-4">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-secondary text-white text-center">
      <h4 class="card-title mb-0">Delete My Account</h4>
    </div>
    <div class="card-body">
      <div class="form-group mb-3">
        <label for="deletePassword" class="form-label"
          >Enter Password to Delete Account <span class="text-danger">*</span>
        </label>
        <input
          id="deletePassword"
          type="password"
          class="form-control"
          #passwordInput
          (keydown.enter)="deleteMyAccount(passwordInput.value)"
          placeholder="Enter your password"
        />
      </div>
      <div class="d-grid">
        <button
          type="button"
          (click)="deleteMyAccount(passwordInput.value)"
          [disabled]="isSubmitting || !passwordInput.value"
          class="btn btn-outline-danger"
        >
          <fa-icon [icon]="solidIcons.faTrashAlt" class="me-2" />
          {{ isSubmitting ? "Deleting Account..." : "Delete Account" }}
          <span
            *ngIf="isSubmitting"
            class="spinner-border spinner-border-sm ms-2"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
