<div class="container mt-4">
  <div class="form-group">
    <label for="deletePassword" class="form-label"
      >Enter Password to Delete Account</label
    >
    <input
      id="deletePassword"
      type="password"
      class="form-control"
      #passwordInput
      (keydown.enter)="deleteMyAccount(passwordInput.value)"
    />
  </div>

  <div class="mt-3 d-flex justify-content-end">
    <button
      type="button"
      (click)="deleteMyAccount(passwordInput.value)"
      [disabled]="isSubmitting || !passwordInput.value"
      class="btn btn-danger d-flex align-items-center"
    >
      <span>{{ isSubmitting ? "Deleting Account..." : "Delete Account" }}</span>
      <span
        *ngIf="isSubmitting"
        class="spinner-border spinner-border-sm me-2"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </div>
</div>
