<div
  class="card shadow-sm mb-4 recipe-card"
  style="
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
  "
>
  <!-- Image Section with Badge -->
  <div class="position-relative img-hover-zoom">
    <img
      [src]="recipe.coverImgUrl || 'assets/default-cover.jpg'"
      class="card-img-top img-fluid recipe-image"
      alt="{{ recipe.title }}"
      style="height: 250px; object-fit: cover; transition: transform 0.3s"
    />
    <div class="position-absolute top-0 end-0 m-3">
      <span class="badge bg-dark text-light shadow-sm px-3 py-2">
        <fa-icon [icon]="solidIcons.faClock" class="me-1"></fa-icon>
        {{ recipe.cookingTime }} mins
      </span>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body p-4 d-flex flex-column gap-3">
    <!-- Title -->
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title text-start fw-bold text-primary mb-0 d-flex">
          <a
            [routerLink]="['/recipes', recipe.id]"
            class="text-decoration-none text-primary flex-grow-1"
            style="font-size: 1.25rem"
          >
            {{ recipe.title }}
          </a>
        </h5>
        <div class="text-start">
          <span style="font-size: 0.8rem" class="ms-2 text-secondary">
            by {{ "@" }}{{ recipe.owner.username }}
          </span>
        </div>
      </div>
      <div>
        <button
          class="btn btn-outline-success btn-sm d-flex align-items-center shadow-sm px-2 py-2"
          [routerLink]="['/recipes', recipe.id]"
          style="border-radius: 20px"
        >
          <fa-icon [icon]="solidIcons.faInfoCircle" class="me-2" />
          Details
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-center mt-auto">
      <!-- Favorite/Unfavorite Button -->
      <button
        class="btn btn-sm d-flex align-items-center shadow-sm px-3 py-2"
        (click)="toggleFavorite()"
        [disabled]="isLoadingFavorite"
        [ngClass]="{
          'btn-outline-danger': !isFavorite,
          'btn-danger': isFavorite
        }"
      >
        <fa-icon
          [icon]="isFavorite ? solidIcons.faHeartBroken : solidIcons.faHeart"
          class="me-2 heart-icon"
        ></fa-icon>
        <span>{{ isFavorite ? "Unfavorite" : "Favorite" }}</span>
      </button>
    </div>
  </div>
</div>
