<div class="card shadow-sm" style="width: 100%">
  <img
    [src]="recipe.coverImgUrl"
    class="card-img-top img-fluid"
    alt="{{ recipe.title }}"
    style="height: 200px; object-fit: cover"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      <a
        [routerLink]="['/recipes', recipe.id]"
        class="text-decoration-none text-dark"
        >{{ recipe.title }}</a
      >
    </h5>
    <p class="card-text text-muted">{{ recipe.description }}</p>
    <div class="mt-auto">
      <p class="card-text mb-1">
        <strong>Cooking Time:</strong> {{ recipe.cookingTime }} mins
      </p>
      <p class="card-text">
        <strong>Serving Size:</strong> {{ recipe.servingSize }} people
      </p>
    </div>
  </div>
</div>
